{% extends 'main/layout.html' %}
{% block title %}
    <h1>{{title}}</h1>
{% endblock %}


{% block content %}
    <div class="features">
        <h1>{{title}}</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga aliquam ab accusamus in provident vitae repellendus praesentium sunt expedita dolor, accusantium voluptas doloribus! Saepe distinctio molestias non consequuntur totam asperiores!</p>
        <button class = "btn btn-warning">On the page about us</button>

        {% for el in values %}
            {% if el == 'Hello' %}
                {% filter upper %}
                    <p>{{el}}</p>
                {% endfilter %}
            {% endif %}
        {% endfor %}

        {% for el in obj %}
            <p>{{el}}</p>
        {% endfor %}

    </div>


{% endblock %}




