body{
    background-color: beige;
}

.collapse{
   padding-right: 10px;
   color:beige
}
.navbar-brand{
    padding-left: 10px;
}
li{
    list-style-type:  none;
}
.container{
    margin-top: 10px;
}



