{% include 'header.html' %}
        <!-- Page Header-->
        <header class="masthead" style="background-image: url({{ url_for('static', filename = 'img/about.jpg') }})">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="page-heading">
                            <h1>About Me</h1>
                            <span class="subheading">This is what I do.</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <main class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <p>My name is Liza and I love travelling!!!</p>
                        <p>One year ago I relocated to Krakow and it was a love at a first glance!</p>
                        <p>For 25 years I had been living in Belarus, finished my high education there, btw I graduated from the Belarusian State University with honors and got a degree in Management. </p>
                        <p>At the beginning of 2022 I started to learn and dive deeper in the profession of developer, I've chosen Python as a script language. </p>
                        <p>Since then I've been trying hard to grasp as much information as I can in this field, taking up different kind of courses, self-educating and of course practicing my skills! =) And this project actually is my pet-one.</p>
                        <p>In my free time I am fond of taking pictures of nature and people🖼, playing the piano🎹, skating⛸, sewing🪀 and singing 🎤.</p>
                    </div>
                </div>
            </div>
        </main>
        <!-- Footer-->
{% include 'footer.html' %}
